<!-- <app-user-profile></app-user-profile>-->
<!--  <app-menu></app-menu>-->
<!--<router-outlet></router-outlet>-->
<!--<app-developer></app-developer>-->

<!--<div *ngFor="let onomatopia of onomatopoeiaList">-->
<!--  {{ onomatopia }}-->
<!--</div>-->
<!--<app-create-onomatopia-->
<!--  (sendOnomatopiaToParent)="onReceiveNewOnomatopia($event)"-->
<!--&gt;</app-create-onomatopia>-->
<!--<section class="main-container">-->
<!--<app-list-kitten></app-list-kitten>-->
<!--</section>-->

<app-cocktail-list></app-cocktail-list>
